@model IEnumerable<BirdSightingTracker.ViewModels.IndexViewModel>
@{
    ViewData["Title"] = "World Bird Sighting Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Welcome!</h2>
    <ul>
        @foreach (var sighting in Model)
        {
            <li>@sighting.CommonName, @sighting.SightingDate.ToString()</li>
        }
    </ul>

</div>     

