@model IEnumerable<BirdSightingTracker.Models.Sighting>
@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sightings by Observer</h2>
<ul>
    @foreach (var sighting in Model)
    {
        <li>Observer Name:  @sighting.ObserverFirstName @sighting.ObserverLastName</li>
    }
</ul>